.spotifyContainer {
  display: grid;
  grid-template-columns: 23% 30% 47%;
  height: 100vh;

  > div {
    padding: 10px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
// Profile section styles
.profileContainer {
  display: flex;
  flex-direction: column;
  height: 95% !important;
  justify-content: space-between;
}

.tabsHeader {
  display: flex;
  gap: 1rem;
  height: 3rem;
  align-items: flex-end;
  font-weight: bold;
  font-size: 1.2rem;
  span {
    cursor: pointer;
  }
  .inactive {
    color: #ffffff8f;
  }
}
